/* Estilo General */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  text-align: center;
  background-color: #212121;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contenedor principal */
.contenedor {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
}

/* Sección Pedido */
.pedido {
  flex: 1;
  background: #212121;
  border-radius: 8px;
  padding: 20px;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pedido .item {
  background: #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f9fa;
  color: #333;
}

/* Menú */
.menu {
  flex: 2;
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: #212121;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: white;
}

.card img {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.card button {
  background: #f1c40f;
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.card button:hover {
  background: #f39c12;
  color: white;
}

/* Datos del Cliente */
.datos {
  flex: 1;
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Bordes redondeados */
  background-color: #f8f9fa;
  color: #333;
}

form button {
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 20px; /* Bordes redondeados */
}

form button:hover {
  background: #3b3c21;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 20px;
  background-color: #212121;
  color: white;
  padding: 10px;
}

/* Mensaje de error */
#error-message {
  color: red;
  display: none;
}
